<div class="col-sm-12 col-lg-4 mb-3">
  <div>
    <%= link_to question.title, question_path(question), class: "text-primary hover:text-primary-focus md:text-lg font-bold" %>
  </div>
  <div>
    <%= link_to question.sentence, question_path(question), class: "text-secondary hover:text-primary-focus md:text-lg font-bold" %>
  </div>
  <div>
    <% if question.user == current_user %>
      <%= link_to (t 'defaults.delete'), question_path(question), data: { turbo_method: :delete, turbo_confirm: t('defaults.message.delete_confirm') }, class: 'btn btn-accent' %>
    <% end %>
  </div>
</div>