<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1>サービス紹介</h1>
  </div>
  <div class='top-inner-text'>
    <h1>団体一覧</h1>
  </div>
  <div class='top-inner-text'>
    <h1><%= link_to (t 'defaults.prowrest-question'), questions_path %></h1>
  </div>
</div>