<tr>
  <td style="width: 60px">
    <%= image_tag comment.user.avatar_url, class: "rounded-full", size: '60x60' %>
  </td>
  <td>
    <h3><%= comment.user.name %></h3>
    <div>
      <p><%= comment.body %></p>
    <div>
  </td>

  <% if current_user.own?(comment) %>
    <td>
      <ul class="list-inline justify-content-center" style="float: right;">
        <li class="list-inline-item">
          <%= link_to comment_path(comment), class: 'js-delete-comment-button', data: { turbo_method: :delete, turbo_confirm: t('defaults.message.delete_confirm') }, remote: true do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </li>
      </ul>
    </td>
  <% end %>
</tr>