<header>
  <div class="navbar bg-accent text-accent-content">
    <div class="navbar-start">
      <%= link_to "Prowrest Numarasu", root_path, class: "btn btn-accent" %>
    </div>
    <div class="navbar-end">
      <%= link_to "ログイン", "#", class: "btn btn-accent" %>
      <%= link_to "新規登録", new_user_path, class: "btn btn-accent" %>
    </div>
  </div>
</header>