<header>
  <div class="navbar bg-accent text-accent-content">
    <div class="navbar-start">
      <%= link_to t('defaults.prowrest-numarasu'), root_path, class: "btn btn-accent md:text-xl" %>
    </div>
    <div class="navbar-end">
      <%= link_to t('defaults.login'), login_path, class: "btn btn-accent" %>
      <%= link_to t('defaults.register'), new_user_path, class: "btn btn-accent" %>
    </div>
  </div>
</header>