<footer class="footer footer-center p-10">
  <div>
    <ul class="flex text-xs lg:text-base space-x-5">
      <li><%= link_to (t 'defaults.terms_of_use'), "#" %></li>
      <li><%= link_to (t 'defaults.privacy_policy'), "#" %></li>
      <li><%= link_to (t 'defaults.contact'), "https://forms.gle/Wgpy9Nd81KDU147H7" %></li>
    </ul>
  </div>
</footer>