<footer class="footer footer-center p-10 bg-red-400">
  <div>
    <ul class="flex space-x-10 font-medium text-lg ">
      <li><%= link_to (t 'defaults.terms_of_use'), term_path %></li>
      <li><%= link_to (t 'defaults.privacy_policy'), privacy_path %></li>
      <li><%= link_to (t 'defaults.contact'), "https://forms.gle/Wgpy9Nd81KDU147H7" %></li>
    </ul>
    <div class="text-center">
      © 2023 プロレスヌマラス. All rights reserved.
    </div>
  </div>
</footer>