<header>
  <div class="navbar bg-accent text-accent-content">
    <div class="navbar-start">
      <%= link_to "Prowrest Numarasu", root_path, class: "btn btn-accent" %>
    </div>
    <div class="navbar-end">
      <%= button_to "ログアウト", logout_path, method: :delete, class: "btn btn-accent" %>
    </div>
  </div>
</header>